/*#region all*/
@import url('https://fonts.cdnfonts.com/css/libre-franklin');

* {

    font-family: 'Libre Franklin', sans-serif;
    
}

h1 {
    background-color: #222831;
    color: #EEEEEE;
}

h2 {
    background: -webkit-linear-gradient(#666363, #EEEEEE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1em;
  }

h3 {
    text-align: center;
}

h4 {
    line-height: 1em;
}

ul {
    width: 90%;
}

hr.solid {
    border-top: 2px solid #000000;
    border: none;
    background-color: #00ADB5;
}

p {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: clamp(1rem, 1vw, 3rem);
    
}

body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
    margin-top: 30px;
    background-color: #EEEEEE;
 }

 a {
    color: #EEEEEE;
 }

 a.dark {
    color: #222831;
 }

 a:hover {
    font-weight: bold;
 }

 section {
    height: auto !important;
    min-height: 400px;
    margin-bottom: 20vh;
 }

 .section-title {
    text-align: center;
    padding: 8vh;
 }

 .hidden {
    opacity: 0;
    transition: all 2s;
    transform: translateX(-100%);

 }

 .hidden.show {
    opacity: 1;
    transform: translateX(0);
 }

 html {
    scroll-behavior: smooth;
 }

/*#endregion all*/

/*#region header*/

.title-box {
    min-height: 280px;
    padding: 0px;
    width: 100%;
    text-align: center;
    position: relative;
}

.title-img {
    min-height: 280px;
    height: 280px;
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
    transition: opacity 1s;
    
} 

.title-img:hover {
    opacity: 1;

    animation-duration: 1s;
}

.title-content {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: auto;
    min-width: 400px;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #222831;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #00ADB550;
    border-radius: 1vh;
}

.nav-box {
    height: auto;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #00ADB5;
    z-index: 1;
}

.nav {
    height: auto;
    min-height: 50px;
    width: 100%;
    display: flex;                  /*learnt from https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: #00ADB500;
}

.toggle-button {

    position: absolute;
    text-align: center;
    left: 3rem;
    top: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 20px;
}

.toggle-button .bar {
    background-color: #222831;
    height: 5px;
    width: 100%;
    border-radius: 15%;
}

@media (max-width: 1000px) {                /* learnt from https://www.youtube.com/watch?v=At4B7A4GOPg */
    .toggle-button {
        display: flex;
    }

    .nav-btn-container {
        display: none;
        width: 100%;
    
        
    }

    .nav-box {
        background-color: #00ADB5;
    }

    .nav-btn-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-btn {
        width: 100%;
        flex-direction: column;

    }

    .nav-btn-container.active {
        height: auto;
        display: flex;
        flex-flow: column;
    }
}


.nav-btn {
    height: auto;
    padding: 10px;
    background-color: #00ADB500;
    border: none;
    font-size: 18px;
    color: #222831;
    padding-left: 1em;
}

.nav-btn:hover {
    background-color: #00ADB500;
    color: #EEEEEE;
}

/*#endregion header*/

/*#region body */

.main-text-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 10px;
    padding-left: 4em;
    padding-right: 4em;
    margin-left: 30px auto;
    width: 900% auto;
    min-width: 300px;
    padding-bottom: 2em;
}

.main-content-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 0px;
    margin-left: 30px auto;
    width: 90% auto;
}

/*#endregion body */

/*#region home*/
.profile-img {
    border-radius: 50%;
    height: 300px;
    padding-top: 20px;
}

.index {
    margin-top: 70px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.index-blurb {
        grid-column: span 8;
        grid-row: span 2;
        background-color: #393E46;
        color: #EEEEEE;
        min-width: 300px;
}

.index-img {
    grid-column: span 1; 
}

/*#endregion home*/

/*#region foot */

.footer-container {
    height: 50px;
    display: flex;
    text-align: center;
    flex-flow: wrap;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #393E46;
}

.foot {
    color: #000000;
    flex: 1;
    text-align: center;
    width: 100%;
    top: 20px;
    padding-top: 1em;
}

/*#endregion footer */

/*#region structures*/

.main-content-container:has(.structure-container) {
    display: flex;
    gap: 1em;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 0px;
    margin-left: 30px auto;
    width: 90% auto;
}

.structure-container {
    height: auto;
    width: auto;
    flex: 1;
    padding: 0px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.structure-box {
    display: flex;
    flex-flow: row wrap;
    min-width: 500px;
    flex: 1;
    margin: 10px auto;
    border: 1px solid #00000050;
    border-radius: 8px/8px;
}

.structure-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}

.structure {
    margin: 10px auto;
}

.structure-text {
    margin: 30px auto;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 10px

}

/*#endregion structures*/

/*#region news */

.tweet, .news-box {
    display: flex;
    flex-direction: column;
    width: auto;
    flex: 1 auto;
    max-width: 300px;
    padding-right: 1vh;
    height: auto;
    margin-right: 30px;
    margin-top: 10px;
}

.news-img img {
    height: 50%;
    width: 50%;
}

.news-item {
    border: 0.01em solid #00000025;
    border-radius: 8px/8px;
    margin-top: 10px;
    min-width: 300px;
    background-color: white;
}

.news-item p {
    padding: 1em;
    font-size: 0.8em;
    line-height: 1.5em;

}

.gridbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

}

.box1, .box2 {
    width: 300px;
    padding-bottom: 50px;

}

.box3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*#endregion news*/

/*#region contact*/

.social-buttons {
    width: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.social { 
    width: 40px;
    margin: 1em;
    align-items: center;
}

.social:hover {
    opacity: 0.7;
}

/*#endregion contact */
